<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a href="/ierror">CAUSE AN ERROR 400</a>
  <a href="/inv/err">CAUSE AN ERROR 500</a>
</footer>